<!DOCTYPE html>
<html>
<head>
  <title>The Comparinator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :defer => true, :async => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="topbar topbar-fixed-top">
      <div class="topbar-inner %>">
          <div class="container">
              <h3><a class="brand" href="<%= fec_filings_url %>">The Comparinator</a></h3>
          </div>
      </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>
  
  
</body>
</html>
